<!-- ふるさと -->
<div class="widget-wrap">
  <h3 class="widget-title">ふるさと</h3>
  <div class="widget">
    <a href="https://hb.afl.rakuten.co.jp/hsc/18f2ee41.3d6d4579.18f2e5f1.6452fabd/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjowLCJjYXQiOiIxMDMiLCJiYW4iOiIxNTY0NjE2In0%3D" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hsb/18f2ee41.3d6d4579.18f2e5f1.6452fabd/?me_id=1&me_adv_id=1564616&t=pict" border="0" style="margin:2px" alt="" title=""></a>
  </div>
</div>
